<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="employees" routerLinkActive="active" class="nav-link">Employees List</a>
        </li>
        <li class = "nav-item">
            <a routerLink="create-employee" routerLinkActive="active" class="nav-link">Add Employees</a>
        </li>
        <li class = "nav-item">
            <a routerLink="/login" routerLinkActive="active" class="nav-link">Logout</a>
        </li>
    </ul>
</nav>

<h1 class="text-center"> {{title}} </h1>
<div class="container">
    <router-outlet></router-outlet>
</div>
<footer class = "footer">
    <div class = "container">
        <span>All Rights Reserved 2022 @pavan</span>
    </div>
</footer>